doctype html
head
  meta(charset="UTF-8")
  title Clock

  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:400,700')
  link(rel='stylesheet' href='styles/main.css')

body
  script(src='scripts/main.js')